<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.CategoryViewMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.dto.CategoryViewDo">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="c2id" column="c2Id" jdbcType="BIGINT"/>
            <result property="c2name" column="c2name" jdbcType="VARCHAR"/>
            <result property="c3id" column="c3id" jdbcType="BIGINT"/>
            <result property="c3name" column="c3name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,c2Id,
        c2name,c3id,c3name
    </sql>
</mapper>
