<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.product.SpuSaleAttr">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
        <result property="baseSaleAttrId" column="base_sale_attr_id" jdbcType="BIGINT"/>
        <result property="saleAttrName" column="sale_attr_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--    销售属性名和值定义结果集封装-->
    <resultMap id="SaleAttrNameAndValueResultMap" type="com.atguigu.gmall.model.product.SpuSaleAttr"
               autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.model.product.SpuSaleAttrValue"
                    autoMapping="true">
            <id property="id" column="vid"></id>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,spu_id,base_sale_attr_id,
        sale_attr_name
    </sql>

    <select id="getSpuSaleAttrList" resultMap="SaleAttrNameAndValueResultMap">
        select ssa.*, ssav.id vid, ssav.sale_attr_value_name
        from spu_sale_attr ssa
                 left join spu_sale_attr_value ssav
                           on ssa.spu_id = ssav.spu_id and ssa.base_sale_attr_id = ssav.base_sale_attr_id
        where ssa.spu_id = #{spuId}
    </select>

    <select id="getSpuSaleAttrAndMarkSkuSaleValue" resultMap="SaleAttrNameAndValueResultMap">
        select ssa.*,
               ssav.id                        vid,
               ssav.sale_attr_value_name,
               IF(skuav.id IS NULL, "0", "1") is_checked
        from spu_sale_attr_value ssav
                 left join spu_sale_attr ssa
                           on ssa.spu_id = ssav.spu_id and ssa.base_sale_attr_id = ssav.base_sale_attr_id
                 left join sku_sale_attr_value skuav
                           on ssav.id = skuav.sale_attr_value_id and skuav.sku_id = #{skuId}
        where ssav.spu_id = #{spuId}
        order by ssav.base_sale_attr_id, ssav.id
    </select>
</mapper>
